---
interface Props {
  title: string;
  description: string;
  image: string;
  imageAlt?: string;
  imageWidth?: number;
  imageHeight?: number;
  reverse?: boolean;
}

const {
  title,
  description,
  image,
  imageAlt = 'feature',
  imageWidth = 650,
  imageHeight = 500,
  reverse = false,
} = Astro.props;

import { Image } from 'astro:assets';
---

<div
  class={`mt-12 row lg:flex lg:flex-row text-left justify-between items-center gap-x-10 gap-y-6 ${reverse ? 'lg:flex-row-reverse' : ''}`}
>
  <div class="col-12 lg:col-auto lg:flex-1">
    <h3 class="banner-title flex flex-col sm:flex-row sm:justify-center sm:items-center" set:html={title}>
    </h3>
    <p class="mt-6 text-gray-500">
      {description}
    </p>
  </div>
  <div class="col-12 lg:col-auto lg:flex-1">
    <Image src={image} alt={imageAlt} width={imageWidth} height={imageHeight} />
  </div>
</div>
